.acp-clay-container-lg {
    width: 202px;
    height: 264px;

    border: 1px solid #CACACA;
}

.acp-clay-container-lg > .acp-clay {
    width: 100%;
    height: 242px;

    border: none;
}

.acp-clay-container-lg > .acp-name {
    width: 100%;
    height: 10px;

    font-size: 12px;
    font-weight: 400;
    text-align: center;
}
