.acp-clay-container-sm {
    width: 49px;
    height: 50px;

    border: 1px solid #CACACA;
}

.acp-clay-container-sm > .acp-clay {
    width: 100%;
    height: 35px;

    display: flex;
    justify-content: center;

    border: none;
    cursor: pointer;
}

/*.acp-clay-container-sm > .clay > img {
    cursor: pointer;
}*/

.acp-clay-container-sm > .acp-name {
    width: 100%;
    height: 10px;

    font-weight: 400;
    text-align: center;
}
