* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;
  align-items: center;
}

.acp-App {
  margin-right: 0px !important;
}

/*common style*/
.acp-d-flex {
  display: flex;
}

.acp-jc-space-between {
  justify-content: space-between;
}

.acp-m-right {
  margin-right: 1rem;
}

.acp-p-right {
  padding-right: 0.5rem;
}

.acp-p-top {
  padding-top: 1rem;
}

.acp-p-bottom {
  padding-bottom: 1rem;
}

/* font weight */
.acp-fw-500 {
  font-weight: 500;
}

.acp-space-between {
  justify-content: space-between;
}

.acp-normal-font-style {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.acp-sm-title {
  font-size: 11px;
  font-weight: 500;
  line-height: 16.5px;
  padding-top: 6px;
  padding-bottom: 1px;
  border-bottom: 1px solid #CACACA;
}

.acp-input {
  width: 54px;
  height: 28px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #CACACA;
}

.acp-button {
  display: flex;
  justify-content: center;
  cursor: pointer;

  width: 29px;
  height: 28px;
  background-color: #343935;
  border-radius: 4px;
}

.acp-button:hover {
  background-color: #535353;
}

.col-md-8 {
  flex: 0 0 auto;
  width: 65.666667% !important;
}

body::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}